body {
  background: linear-gradient(to bottom, rgba(255,255,255,0.96) 0%,rgba(255,255,255,0.96) 100%),
  url('../../images/demo/transparent.jpg') center / cover;
}

.mdl-layout {
  /*margin: 0 auto; max-width: 1200px;*/
}

.mdl-layout__header {
  background-color: transparent
}


.demo-layout-transparent {
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__header .mdl-layout__drawer-button {
  color: black;
}

.demo-layout-transparent .mdl-layout__drawer {
  background-color: transparent;
}

.demo-layout-transparent.is-small-screen .mdl-layout__drawer {
  background-color: #fff;
}

.demo-layout-transparent.mdl-layout__header.is-casting-shadow {
  /* override initial background when scrolling */
  background: rgb(63,81,181);
}

/* Sticky footer */
/* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
/* See: https://github.com/google/material-design-lite/issues/913 */
.demo-layout-transparent .mdl-layout__content {
  display: flex;
  flex-flow: column nowrap;
}

.demo-layout-transparent .mdl-layout__content > *:not(.mdl-layout-spacer) {
  flex: none;
}

.demo-layout-transparent .mdl-mini-footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 14px;
}

/* End Sticky footer */



.demo-title,
.demo-menu {
  width:32px;
  margin-left: -24px;
  margin-right: 8px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.demo-title {
  margin-top: -16px;
}

.is-small-screen .demo-title,
.is-small-screen .demo-menu {
  margin-left: 0;
}

.demo-page {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
}

.demo-page-content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 24px;
  box-sizing: border-box;
}

.demo-preview-block {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  width: 100%;
}

.demo-code {
  width: 100%;
  box-sizing: border-box;
}
