.page-content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0 24px;
  box-sizing: border-box;
}



.demo-layout-transparent {
  background: linear-gradient(to bottom, rgba(255,255,255,0.96) 0%,rgba(255,255,255,0.96) 100%),
    url('../../images/demo/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}


.demo-page {
  width: 100%;
  height: auto;

  margin: 0;

  padding: 24px;
  box-sizing: border-box;
}

.demo-preview-block {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  width: 100%;
}

.demo-code {
  width: 100%;
  box-sizing: border-box;
}
