/*
*, *::before, *::after, input[type="search"] {
  box-sizing: border-box;
}
*/

body {
  background: linear-gradient(to bottom, rgba(255,255,255,0.96) 0%,rgba(255,255,255,0.96) 100%),
  url('../../images/demo/transparent.jpg') center / cover;
}

/* Sticky header */
.mdl-layout__header.mdl-layout__header--sticky {
  position: absolute;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.1) 100%);
}

.mdl-layout__header.mdl-layout__header--sticky.is-scroll {
  background: linear-gradient(to bottom, rgba(255,255,255,0.96) 100%,rgba(255,255,255,0) 100%);
}

.mdl-layout.mdl-layout--fixed-drawer .mdl-layout__header.mdl-layout__header--sticky .mdl-layout__drawer-button {
  visibility: hidden;
}
.mdl-layout.mdl-layout--fixed-drawer.is-small-screen .mdl-layout__header.mdl-layout__header--sticky .mdl-layout__drawer-button {
  visibility: visible;
}
@media screen and (min-width: 1025px) {
  .mdl-layout.mdl-layout--fixed-drawer > .mdl-layout__header.mdl-layout__header--sticky .mdl-layout__header-row {
    padding-left: 16px;
  }
}
/* End Sticky header */

.demo-layout-transparent {
}

.demo-layout-transparent .mdl-navigation__link.mdl-navigation__link--current:hover {
  color: black;  /* Quick hack! */
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__header .mdl-layout__drawer-button {
  color: black;
}

.demo-layout-transparent .mdl-layout__drawer {
  background-color: transparent;
}

.demo-layout-transparent .mdl-layout__drawer.is-visible {
  background-color: #fff;
}

.demo-layout-transparent .mdl-layout__drawer .mdl-layout-title a {
  text-decoration: none;
  color: inherit;
}

.demo-layout-transparent .mdl-layout__header.is-casting-shadow {
  /* override initial background when scrolling */
  /*background: rgb(63,81,181);*/
}



/* Sticky footer */
/* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
/* See: https://github.com/google/material-design-lite/issues/913 */
.mdl-layout__content.mdl-layout--sticky-footer {
  display: flex;
  flex-flow: column nowrap;
}

.mdl-layout__content.mdl-layout--sticky-footer > *:not(.mdl-layout-spacer) {
  flex: none;
}

.mdl-layout__content.mdl-layout--sticky-footer > .mdl-mini-footer {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 16px;
}

/* End Sticky footer */



.demo-title,
.demo-menu {
  width:32px;
  margin-left: -24px;
  margin-right: 8px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.demo-title {
  margin-top: -16px;
}

.is-small-screen .demo-title,
.is-small-screen .demo-menu {
  margin-left: 0;
}

.demo-page-content {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 40px 16px 0;   /* FIX-ME: padding-top is 40px only if sticky-header */
  box-sizing: border-box;
}

.demo-preview-block {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  width: 100%;
}

.demo-code {
  width: 100%;
  box-sizing: border-box;
}
