<style>
  .textfield-demo-grid {
    margin-top: 64px;
  }

  .textfield-demo-grid .mdl-grid {
    padding: 0;
  }
  .textfield-demo-grid .mdl-cell {
    color: #000;
    padding: 0;
  }

  /* File input */
  .mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
  .mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-textfield--file .mdl-button--file {
    right: 0;
  }

</style>


<div class="textfield-demo-grid">

  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--4-col">
      <p>Text</p>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Text...</label>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <p>Text numeric</p>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2">
        <label class="mdl-textfield__label" for="sample2">Number...</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <p>Text with floating label, required</p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample3" required>
        <label class="mdl-textfield__label" for="sample3">Text...</label>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <p>Numeric with floating label</p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
        <label class="mdl-textfield__label" for="sample4">Number...</label>
        <span class="mdl-textfield__error">Input is not a number!</span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <p>Expanding</p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="expandable-demo">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="q" value="" id="expandable-demo" pattern=".{3,}" />
          <label class="mdl-textfield__label" for="expandable-demo">Expandable Input</label>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <p>File upload</p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
        <input class="mdl-textfield__input" placeholder="File" type="text" id="uploadFile" readonly/>
        <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
          <i class="material-icons">attach_file</i><input type="file" id="uploadBtn">
        </div>
      </div>

      <!--
        // Need a script to work properly - something like this
      -->
      <script>
        document.querySelector('#uploadBtn').addEventListener('change', function() {
          document.querySelector("#uploadFile").value = this.files[0].name;
        });
      </script>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
      <p>Select element</p>

      <div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
        <select class="mdlext-selectfield__input" id="professsion" name="professsion">
          <option value=""></option>
          <option value="option1">option 1</option>
          <option value="option2">option 2</option>
          <option value="option3">option 3</option>
          <option value="option4">option 4</option>
          <option value="option5">option 5</option>
        </select>
        <label class="mdlext-selectfield__label" for="professsion">Profession</label>
      </div>

      <!--
      CSS only version, see: http://codepen.io/pudgereyem/pen/PqBxQx
      -->

    </div>

  </div>

  <br/>
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--8-col">
      <p>Multiple lines</p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
        <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
        <label class="mdl-textfield__label" for="sample5">Text lines...</label>
      </div>
    </div>
  </div>

</div>





<!--
<div class="textfield-demo-grid">

  <h3>Form Fields</h3>
  <form>
  <div class="mdl-grid mdl-grid--no-spacing">

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" id="id1" class="mdl-textfield__input"/>
      <label for="id1" class="mdl-textfield__label">Field</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label icon-field"><i class="glyphicon glyphicon-envelope"></i>
      <input type="text" id="id2" class="mdl-textfield__input"/>
      <label for="id2" class="mdl-textfield__label">Field with icon</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" id="id3" class="mdl-textfield__input required"/>
      <label for="id3" class="mdl-textfield__label">Mandatory field</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" id="id4" class="mdl-textfield__input active"/>
      <label for="id4" class="mdl-textfield__label">Active field</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"><span class="extra-label">Extra Label</span>
      <input type="text" id="id5" class="mdl-textfield__input"/>
      <label for="id5" class="mdl-textfield__label">Field</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" disabled="disabled" id="id6" class="mdl-textfield__input"/>
      <label for="id6" class="mdl-textfield__label">Disabled field</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label icon-field"><i class="glyphicon glyphicon-envelope"></i>
      <input type="text" disabled="disabled" id="id7" class="mdl-textfield__input"/>
      <label for="id7" class="mdl-textfield__label">Disabled with icon</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" disabled="disabled" value="james@method.org.uk" id="id8" class="mdl-textfield__input"/>
      <label for="id8" class="mdl-textfield__label">Disabled Field</label>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" value="Some text value" id="id9" class="mdl-textfield__input"/>
      <label for="id9" class="mdl-textfield__label">Saving field</label><span class="status">saving..</span>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" value="Some text value" id="id10" class="mdl-textfield__input"/>
      <label for="id10" class="mdl-textfield__label">Saved field</label><span class="status">Saved!</span>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" value="james@method.org.uk" id="id11" class="mdl-textfield__input success"/>
      <label for="id11" class="mdl-textfield__label">Success</label><i class="glyphicon glyphicon-ok ok"></i>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" value="james.method-notreal" id="id11" class="mdl-textfield__input fail"/>
      <label for="id11" class="mdl-textfield__label fail">Failure</label><i class="glyphicon glyphicon-remove fail"></i><span class="err-msg"> <strong>ERROR MESSAGE: </strong>This is not a real email address Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique.        </span>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <div class="mdl-textfield mdl-js-textfield select-box">
      <select ui-select2="ui-select2" ng-model="select2" data-placeholder="Select box">
        <option value="123">Some value</option>
        <option value="213">Another value</option>
      </select><span class="arrow glyphicon glyphicon-chevron-down"></span>
      <p>select 2 value {{select2}}</p>
    </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col">
    <datepicker datepicker-value="datepicker-value" date-format="MMMM d, y" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input type="text" ng-model="date" ng-value="date" id="id13" class="mdl-textfield__input"/>
      <label for="id13" class="mdl-textfield__label">Date picker</label>
      <button class="date-picker"><i class="fa fa-calendar"></i></button>
    </datepicker>
    </div>

  </div>
  </form>

</div>
-->
